<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Linear Regression</title>
    <link rel="shortcut icon" href="https://techno-tvel.ru/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://techno-tvel.ru/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<main role="main" class="container">

    <p>Обработка данных файла {{num}}</p>
    <a href="/">На главную</a>
    {% if dataset is None %}
    Ошибка чтения датасета
    {% else %}
    <form id="form">
        <table class="table table-sm ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Независимая</th>
                <th scope="col">Линейно</th>
                <th scope="col">Квадратично</th>
            </tr>
            </thead>
            <tbody>

            {% for line in head %}
            <tr>
                <th>{{line}}</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="result" id="radio{{line}}" value="{{line}}">
                        <label class="form-check-label" for="radio{{line}}"></label>
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="variable-line-{{line}}"
                               id="variableLine{{line}}" value="{{line}}">
                        <label class="form-check-label" for="variableLine{{line}}"></label>
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="variable-square-{{line}}"
                               id="variableSquare{{line}}" value="{{line}}">
                        <label class="form-check-label" for="variableSquare{{line}}"></label>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Обработать</button>
    </form>
    <div class="alert alert-info collapse" role="alert">
        Обработка...
    </div>
    <div class="alert alert-warning collapse" role="alert">
        Ошибка обработки
    </div>
    <p id="r">R квадрат</p>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Коэффициент</th>
            <th scope="col">Ошибка</th>
            <th scope="col">t</th>
            <th scope="col">p уровни</th>
        </tr>
        </thead>
        <tbody id="tableTarget">
        </tbody>
    </table>
    {% endif %}

</main>
</body>
<script type="text/javascript">
    $("#form").submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            data: $("#form").serialize(),
            success: function (data) {
                $(".alert-info").addClass("collapse");

                if (data["status"]) {
                    $("#r").text("R квадрат: " + data['r'].toFixed(4));
                    let target = $("#tableTarget");
                    target.empty();
                    for (let key in data['k'][0]) {
                        target.append(" <tr>" +
                            "            <th scope=\"row\">" + key + "</th>" +
                            "            <td>" + data["k"][0][key].toFixed(4) + "</td>" +
                            "            <td>" + data["k"][1][key].toFixed(4) + "</td>" +
                            "            <td>" + data["k"][2][key].toFixed(4) + "</td>" +
                            "            <td>" + data["k"][3][key].toFixed(4) + "</td>" +
                            "        </tr>");
                    }
                }
                else
                    $(".alert-warning").removeClass("collapse");

            },
            error: function (data) {
                $(".alert-info").addClass("collapse");
                $(".alert-warning").removeClass("collapse");
                target.empty();
            }
        });
        $(".alert-info").removeClass("collapse");
        $(".alert-warning").addClass("collapse");

    });
</script>
</html>